.Card {
    background: radial-gradient(194.59% 73.67% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(227, 207, 207, 0.75) 83.65%, rgba(0, 0, 0, 0) 100%);
    border: 5px solid #FB6868;
    border-radius: 45px;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;

    min-width: 300px;
    min-height: 300px;

    font-size: 24px;
}

