.CreateEvent {
    width: 100%;
    height: calc(100vh - 120px);
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

body {
    background: #e6f4fd;
    font-family: 'Roboto', sans-serif;
}

.ui-form {
    max-width: 550px;
    padding: 80px 30px 30px;
    margin: 50px auto 30px;

    background: radial-gradient(471.08% 159.88% at 50% 50%, rgba(217, 217, 217, 0.75) 0%, rgba(227, 207, 207, 0.75) 85.21%, rgba(217, 217, 217, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 3px solid #FB6868;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

.ui-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    font-weight: bold;
    color: #fc5555;
    font-size: 30px;
}

.form-row {
    position: relative;
    margin-bottom: 40px;
}

.form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-size: 24px;
    color: #FB6868;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #FB6868;
    transition: all 0.2s ease;
}

.form-row label {
    position: absolute;
    left: 13px;
    color: coral;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}

.form-row input:focus {
    outline: 0;
    border-color: #F77A52;
}

.form-row input:focus + label, .form-row input:valid + label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
}

.ui-form input[type="submit"] {
    cursor: pointer;
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #FB6868;
    border-width: 0;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

.ui-form p {
    margin: 0;
    padding-top: 10px;
}