.DonateCard {
    border-radius: 15px;
    min-width: 200px;
    border: 2px solid black;

    padding: 20px;

    background: rgba(255, 0, 0, 0.49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donator_name {
    font-weight: bold;
}

.donator_name:after {
    font-weight: normal;
    content: ' задонатил '
}

.donation_amount {

}

.donation_amount:after {
    margin-left: 8px;
    content: '₽'
}