.StreamerPage {
    width: 100%;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

.dynamics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    width: 100%;
    overflow: auto hidden;
}

.name {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.surname {
    color: black;
    font-weight: bold;
}

.info {
    display: flex;
    padding: 0 30px;
    justify-content: center;
    gap: 5px;
}

.balance {
    color: black;
}

.balance:before {
    margin-right: 10px;
    content: 'Мой баланс:';
}

.balance:after {
    font-size: 32px;
    margin-left: 8px;
    content: '₽'
}

.balance.top:before {
    margin-right: 10px;
    content: 'Топ-донат:';
}

.donations_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.donations {
    color: black;
}

.donations:before {
    margin-right: 10px;
    content: 'Мои донаты:';
}

.donat_icon {
    background: url(../../../shared/UI/streamerInfoCard/assets/donate.png);
    margin-left: 10px;
    background-size: cover;
    width: 35px;
    height: 35px;
}

.collected:after {
    margin-left: 8px;
    content: '₽'
}