.Button {
    cursor: pointer;

    background: transparent;
    padding: 5px 15px;

    border-radius: 10px;
    border: 2px solid #FB6868;

    font-size: 24px;
    color:  #FB6868;

    transition: 300ms;
}

.Button:hover {
    transform: scale(90%);
}