.Header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 10px 80px;
    background: black;
    align-items: center;
    grid-column-gap: 50px;
}

.title {
    color: whitesmoke;
    font-size: 45px;
}

.hr {
    width: 100%;
    height: 3px;
    border-radius: 1px;
    border: none;
    background: whitesmoke;
}